<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/" method="post">
        <div>login</div>
        <div>id : <input type="text" name="MemberID" id="" placeholder="id"></div>
        <div>password : <input type="text" name="MemberPW" id="" placeholder="pw"></div>
        <div>
            <label><input type="radio" name="position" id="">a</label>
            <label><input type="radio" name="position" id="">f</label>
        </div>
        <button>submit</button>
    </form>
</div>
</body>
</html>